# Code Owners must review any Pull Request made to paths they own.
# See: https://help.github.com/en/articles/about-code-owners

# Default owners, unless a later match takes precedence:
*       @lipsotiko
