container_commands:
  01seeddata:
    command: "source /opt/python/run/venv/bin/activate && rm -f app.db && python testdata.py"
    leader_only: true
  02admin:
    command: "source /opt/python/run/venv/bin/activate && flask fab create-admin --username admin --password admin --email admin@example.org --firstname admin --lastname user"
    leader_only: true
  03static:
    command: "source /opt/python/run/venv/bin/activate && flask fab collect-static"
  04sqlite:
    command: "chmod a+w app.db"
    leader_only: true
option_settings:
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "app/static/"