$copyright-palette: (
  dark-blue: #004b90,
  light-blue: #4476c1,
  lighter-blue: #7aa4f4,
  light-aqua: #9ddfeb,
  aqua: #00bde3,
  dirt-grey: #949494,
  blue-grey: #4f5b6f,
  brown-grey: #525252,
  orange: #f39268,
  yellow: #ffbe2e,
  light-yellow: #fee685,
  lighter-yellow: #faf3d1,
  red: #d63e04,
  green: #0ca900,
  light-green: #70e17b,
  white-blue: #e7f6f8,
  white-green: #ecf3ec,
  white-orange: #f4e3db,
  light: #c9c9c9,
  whiter-blue: #d9e8f6,
  lighter: #f2f2f2,
  white-red: #e6e6e6,
  lightest: #fafafa
);

@function get-copyright-color($colorName) {
  @return map-get($copyright-palette, $colorName)
}
